.header{
    background: var(--gray-800);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem 0; 
    block-size: 80px;
}

.header img{
    block-size: 2rem;
}